.box {
  width: 200px;
  height: 200px;
  margin: 20px auto;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
}


.light {
  background-color: #f5f5f5;
  color: #333;
}

.dark {
  background-color: #333;
  color: white;
}


